
job:
  runFlow:

    flow: ./chaining_flow.yaml

    parameters:
      param_1: 42
      param_2: "2015-01-01"
      param_3: 1.5

    inputs:
      customer_loans: "inputs/loan_final313_100.csv"
      currency_data: "inputs/currency_data_sample.csv"

    outputs:
      profit_by_region: "outputs/hello_pandas/profit_by_region.csv"

    models:
      model_1: tutorial.model_1.FirstModel
      model_2: tutorial.model_2.SecondModel
