# Requirements for all the Python build scripts

# Protoc is required for the codegen scripts which work off the API proto files
protoc-wheel-0 >= 21, < 22
protobuf >= 4.21, < 4.22
googleapis-common-protos >= 1.56, < 2.0

# Doc generation
sphinx >= 4.1, < 5.0
sphinx-autoapi >= 1.8.3, < 2.0
sphinx-panels >= 0.6.0
sphinxcontrib-fulltoc >= 1.2, < 2.0
cloud-sptheme >= 1.10, < 2.0

# Cloud Sphinx theme uses jinja2.Markup, which was deprecated in jinja2 3.0 and removed in 3.1
# I raised an issue here: foss.heptapod.net/doc-utils/cloud_sptheme/-/issues/47
# We can use 3.0 until a fix is ready, if no fix comes we can think about changing theme

jinja2 <3.1
