# Requirements for all the Python build scripts

# Protoc is required for the codegen scripts which work off the API proto files
protobuf ~= 5.29.3
grpcio-tools ~= 1.70.0
protoc-wheel-0 >= 25, < 26

# Google stopped shipping proto files as part of the API package in version 1.67
# Restrict version numbers for now until we get a better solution

googleapis-common-protos >= 1.63, < 1.67

# Doc generation
sphinx ~= 8.1.3
sphinx-autoapi ~= 3.4.0
sphinx-design ~= 0.6.1
sphinx-wagtail-theme ~= 6.4.0

# Avoid updating to Astroid 4.0, which is still in alpha
astroid < 4.0
