# Requirements for all the Python build scripts

# Protoc is required for the codegen scripts which work off the API proto files
protobuf ~= 4.23.0
protoc-wheel-0 >= 21, < 22
googleapis-common-protos >= 1.56, < 2.0

# Doc generation
sphinx ~= 7.2.0
sphinx-autoapi ~= 3.0.0
sphinx-design ~= 0.5.0
sphinxcontrib-fulltoc ~= 1.2
cloud-sptheme ~= 1.10
