
# Dependencies of the distributed package are controlled in setup.cfg
# This file controls dependencies used in development (and the two should match)

# ----------------------------------------------------------------------------------------------------------------------
# Core runtime dependencies - this list should stay small!
# ----------------------------------------------------------------------------------------------------------------------

# Core protobuf support for metadata / config classes
# This should match the Java Protobuf version, if possible
protobuf == 4.25.3

# Core data framework is based on Arrow
# This should always match the Java Arrow version
pyarrow == 16.0.0

# PyYAML is used to load config supplied in YAML format
pyyaml == 6.0.1

# Python implementation of Git, for model loading
dulwich == 0.22.1

# Requests, used for downloading model packages
requests == 2.32.2


# ----------------------------------------------------------------------------------------------------------------------
# Data API dependencies
# ----------------------------------------------------------------------------------------------------------------------

# These frameworks are used for passing data to / from client code
# We want to allow model code to use different versions of these frameworks
# Constraints are used for supported versions (these constraints are mirrored in setup.cfg)
# To support new versions, we must also update the latest tested version in CI


# Pandas - baseline support for series 1.x and 2.x
# We do not support the 0.x series! 1.2 added the new dType for integers which supports nulls
# NumPy 2.0 is not supported yet, it breaks the ABI and other packages need time to catch up

pandas >= 1.2.0, < 2.2.0
numpy < 2.0.0

# PySpark - Support the 3.x series

pyspark >= 3.0.0, < 3.6.0


# ----------------------------------------------------------------------------------------------------------------------
# Force versions for compliance
# ----------------------------------------------------------------------------------------------------------------------

idna >= 3.7


# ----------------------------------------------------------------------------------------------------------------------
# Build time dependencies
# ----------------------------------------------------------------------------------------------------------------------

# Protoc generation

protoc-wheel-0 >= 25, < 26
googleapis-common-protos >= 1.63, < 2.0

# Tools for building and packaging the Python runtime

setuptools >= 66.1.1
wheel >= 0.38.4
build >= 0.10.0
packaging >= 23.0

# Compliance dependencies

safety >= 3.2, < 4.0

# Series 3.x does not work with Python 3.11
# Series 4.x does not work with Python 3.7
# So, let PIP pick a version that works with the version of Python being used
pip-licenses >= 3.5.2, < 5.0
