
# Dependencies of the distributed package are controlled in setup.cfg
# This file controls dependencies used in development (and the two should match)

# ----------------------------------------------------------------------------------------------------------------------
# Core runtime dependencies - this list should stay small!
# ----------------------------------------------------------------------------------------------------------------------

# Core protobuf support for metadata / config classes
# This should match the Java Protobuf version, if possible
protobuf == 5.29.5

# Support for the gRPC runtime API server
# Optional in the distributed package but required for development
grpcio == 1.70.0
grpcio-status == 1.70.0
grpcio-tools == 1.70.0

# Core data framework is based on Arrow
# This should always match the Java Arrow version
pyarrow == 18.1.0

# PyYAML is used to load config supplied in YAML format
pyyaml == 6.0.2

# Python implementation of Git, for model loading
dulwich == 0.22.7

# Requests, used for downloading model packages
requests == 2.32.4


# ----------------------------------------------------------------------------------------------------------------------
# Data API dependencies
# ----------------------------------------------------------------------------------------------------------------------

# These frameworks are used for passing data to / from client code
# We want to allow model code to use different versions of these frameworks
# Constraints are used for supported versions (these constraints are mirrored in setup.cfg)
# To support new versions, we must also update the latest tested version in CI


# Pandas - baseline support for series 1.x and 2.x
# We do not support the 0.x series! 1.2 added the new dType for integers which supports nulls
# NumPy 2.0 is not supported yet, it breaks the ABI and other packages need time to catch up

pandas >= 1.2.0, < 2.3.0
numpy >= 1.20, < 2.3.0

# Polars is an optional dependency - support the 1.x series

polars >= 1.0.0


# ----------------------------------------------------------------------------------------------------------------------
# Build time dependencies
# ----------------------------------------------------------------------------------------------------------------------

# Protoc generation

# Google stopped shipping proto files as part of the API package in version 1.67
# Restrict version numbers for now until we get a better solution

protoc-wheel-0 >= 25, < 26
googleapis-common-protos >= 1.63, < 1.67

# Tools for building and packaging the Python runtime

setuptools >= 75.8.0
wheel >= 0.38.4
build >= 0.10.0
packaging >= 23.0

# Compliance dependencies

safety >= 3.6.0

# Thsi project is the successor of the original pip-licenses tool
# https://github.com/raimon49/pip-licenses/issues/227#issuecomment-3050082147
pip-licenses-cli >= 1.4, < 2.0
