
# Dependencies for back end plugins
# Install all of these for plugin development

# Client code should not be using these features directly, so we can fix the version
# Dependencies in the dist package are controlled as optional features

# Some of these libraries do not support the oldest versions of Python
# So e.g. to use the Azure libraries, Python 3.8 is required
# We can still support older Python versions, so long as those plugins are not being used

# To control dependencies installed during CI, the BEGIN_PLUGIN and END_PLUGIN markers are used
# Running CI for a particular plugin will only install the dependencies between those markers
# This prevents dependency issues with one plugin breaking CI for all other plugins
# It also cuts down the setup time of integration jobs


# ----------------------------------------------------------------------------------------------------------------------
# AWS
# ----------------------------------------------------------------------------------------------------------------------

# BEGIN_PLUGIN aws

# AWS client libraries

botocore == 1.29.156
boto3 == 1.26.156

# S3 FS Spec implementation depends on aiobotocore
# This is a separate library that depends on a very old version of botocore
# It is not really possible to use them together and maintain compliance

# END_PLUGIN aws

# ----------------------------------------------------------------------------------------------------------------------
# GCP
# ----------------------------------------------------------------------------------------------------------------------

# BEGIN_PLUGIN gcp

# GCP client libraries

google-auth == 2.20.0
google-cloud-core == 2.3.2
google-cloud-storage == 2.9.0

# GCS implementation of FS Spec

gcsfs == 2023.6.0

# END_PLUGIN gcp


# ----------------------------------------------------------------------------------------------------------------------
# Azure
# ----------------------------------------------------------------------------------------------------------------------

# BEGIN_PLUGIN azure

# Azure client libraries

azure-core == 1.29.6
azure-identity == 1.15.0
azure-storage-blob == 12.19.0

# Azure implementation of FS Spec

adlfs == 2023.4.0

# azure-identity is still pulling in a compromised version of the cryptography package
# force a compatible version with the required fix
cryptography~=42.0.5

# END_PLUGIN azure
