
protobuf >= 3.13.0, < 3.14.0
protoc-wheel-0 >= 3.13.0, < 3.14.0

# Baseline support for Pandas on series 1.x
# Try to avoid supporting the 0.x series!
pandas >= 1.0.0, < 2.0.0

# Support PySpark series 2.4.x and 3.0.x
pyspark >= 2.4.0, < 3.1.0
