name: Build and Test

# Run the main build and test for all branch pushes and pull requests, do not repeat the build for tags
on:
  push:
    branches:
      - '**'
  pull_request:


env:
  JAVA_DISTRIBUTION: zulu
  NODE_VERSION: 14.x


jobs:

  platform_build:

    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      matrix:
        JAVA_VERSION:
          - 11
          - 17

    steps:

    # fetch-depth = 0 is needed to get tags for version info
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: ${{ env.JAVA_DISTRIBUTION }}
        java-version: ${{ matrix.JAVA_VERSION }}

        # Turn on Gradle dependency caching
        cache: gradle

    - name: Build
      run: ./gradlew testClasses

    - name: Unit tests
      run: ./gradlew test

    # If the tests fail, make the output available for download
    - name: Store failed test results
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: junit-test-results
        path: build/modules/*/reports/**
        retention-days: 7


  python_runtime:

    # Testing targets for the Python model runtime
    # Include the latest stable release (3.9)
    # Oldest supported version is 3.6, this is required by Pandas 1.0
    # (also note Python 3.5 is EOL, final release 3.5.10 was in September 2020)
    # Do not include 2.7 - that ship has sailed!
    strategy:

      # Try to finish all jobs - it can be helpful to see if some succeed and others fail
      fail-fast: false

      matrix:
        enviroment:

          - { ENV_NAME: "Windows, 3.10, PySpark 3.2, Pandas >= 1.4",
              PLATFORM: 'windows-latest',
              PYTHON_VERSION: "3.10",
              PYSPARK_VERSION: ">= 3.2.0, < 3.3.0",
              PANDAS_VERSION: ">= 1.4.0, < 2.0.0",
              PYPANDOC: false }

          - { ENV_NAME: "macOS, 3.10, PySpark 3.2, Pandas >= 1.4",
              PLATFORM: 'macos-latest',
              PYTHON_VERSION: "3.10",
              PYSPARK_VERSION: ">= 3.2.0, < 3.3.0",
              PANDAS_VERSION: ">= 1.4.0, < 2.0.0",
              PYPANDOC: false }

          - { ENV_NAME: "Linux, 3.10, PySpark 3.2, Pandas >= 1.4",
              PLATFORM: 'ubuntu-latest',
              PYTHON_VERSION: "3.10",
              PYSPARK_VERSION: ">= 3.2.0, < 3.3.0",
              PANDAS_VERSION: ">= 1.4.0, < 2.0.0",
              PYPANDOC: false }

          - { ENV_NAME: "Linux, 3.8, PySpark 3.0, Pandas 1.2",
              PLATFORM: 'ubuntu-latest',
              PYTHON_VERSION: "3.8",
              PYSPARK_VERSION: "== 3.0.0",
              PANDAS_VERSION: "== 1.2.0",
              PYPANDOC: false }

          # Oldest supported versions, PySpark / Pandas on .0 patch release
          - { ENV_NAME: "Linux, 3.7, PySpark 2.4, Pandas 1.2",
              PLATFORM: 'ubuntu-latest',
              PYTHON_VERSION: "3.7",
              PYSPARK_VERSION: "== 2.4.0",
              PANDAS_VERSION: "== 1.2.0",
              PYPANDOC: true }

    runs-on: ${{ matrix.enviroment.PLATFORM }}
    timeout-minutes: 20

    steps:

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.enviroment.PYTHON_VERSION }}

      - name: PIP Upgrade
        run: python -m pip install --upgrade pip

      # fetch-depth = 0 is needed to get tags for version info
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # PyPanDoc dependency is not managed correctly by PySpark 2.4 package
      # It needs to be installed explicitly first
      # Also, PyPanDoc >=1.8 breaks with PySpark 2.4
      # This workaround could be dropped if TRAC set baseline support for Spark at Spark 3.0...
      - name: Install pre-req dependencies
        if: ${{ matrix.enviroment.PYPANDOC }}
        run: |
          pip install "pypandoc <1.8"

      - name: Install dependencies
        run: |
          pip install "pyspark ${{ matrix.enviroment.PYSPARK_VERSION }}"
          pip install "pandas ${{ matrix.enviroment.PANDAS_VERSION }}"
          cd tracdap-runtime/python
          pip install -r requirements.txt

      - name: Protoc code generation
        run: python tracdap-runtime/python/build_runtime.py --target codegen

      - name: Unit tests
        run: python tracdap-runtime/python/build_runtime.py --target test

      - name: Python example models
        run: python tracdap-runtime/python/build_runtime.py --target examples


  web_api:

    runs-on: ubuntu-latest

    steps:

    # fetch-depth = 0 is needed to get tags for version info
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: npm
        cache-dependency-path: tracdap-api/packages/web/package-lock.json

    - name: Install dependencies
      run: |
        cd tracdap-api/packages/web
        npm install

    - name: Build API
      run: |
        cd tracdap-api/packages/web
        npm run buildApi


  documentation:

    runs-on: ubuntu-latest

    steps:

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: PIP Upgrade
        run: python -m pip install --upgrade pip

      # fetch-depth = 0 is needed to get tags for version info
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies for build tools
        run: |
          cd dev/
          pip install -r requirements.txt

      - name: Run all docgen targets
        run: |
          cd dev/
          python docgen/docgen-ctrl.py all
